* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Verdana;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  position: relative;
  --page-bg: rgb(18, 18, 18);
  --main-bg: rgb(30, 30, 30);
  --secondary-bg: rgb(60, 60, 60);
  --tertiary-bg: rgb(90, 90, 90);
  --red-bg: rgb(255, 163, 140);
  --green-bg: rgb(140, 255, 163);
  --border: rgb(80, 80, 80);
  --main-font: rgba(233, 233, 233, 0.9);
  --secondary-font: rgb(0, 0, 0);
}

.light-theme {
  --page-bg: rgb(240, 240, 240);
  --main-bg: rgb(225, 225, 225);
  --secondary-bg: rgb(210, 210, 210);
  --tertiary-bg: rgb(190, 190, 190);
  --red-bg: rgb(186, 41, 8);
  --green-bg: rgb(0, 99, 115);
  --border: rgb(0, 0, 0);
  --main-font: rgb(0, 0, 0);
  --secondary-font: rgba(233, 233, 233, 0.9);
}

.page-container {
  width: 100%;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg);
  padding: 10px 0;
}

.display-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 95%;
  height: 100px;
  margin: 0 auto;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.display-container::-webkit-scrollbar {
  display: none;
}

input[type="text"] {
  background-color: var(--main-bg);
  color: var(--main-font);
}

.equation {
  font-size: 1.1rem;
  opacity: 0.9;
}

#main-display {
  font-size: 2.5rem;
  padding: 5px 0 0;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 5px;
  width: 95%;
  height: 80%;
  margin: 20px auto 0;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-bg);
  color: var(--main-font);
  border: 1px solid var(--border);
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.95);
}

.operator,
.percentage,
.decimal,
.pos-neg,
.theme {
  background-color: var(--tertiary-bg);
}

.equal {
  background-color: var(--green-bg);
  color: var(--secondary-font);
}

.clear,
.delete {
  background-color: var(--red-bg);
  color: var(--secondary-font);
}

.theme {
  grid-column: 2 / 4;
}

.shortcuts {
  display: none;
}

@media only screen and (min-width: 450px) {
  body {
    background-color: var(--page-bg);
  }

  .page-container {
    display: flex;
    flex-direction: column;
  }

  .calculator-container {
    width: 20rem;
    height: 30rem;
    margin: 50px auto 25px;
    border: 5px solid var(--border);
  }

  .display-container {
    width: 18.5rem;
  }

  #main-display {
    font-size: 2.2rem;
  }

  .button-container {
    width: 18.5rem;
    margin: 20px auto 0;
    padding: 0;
  }

  .shortcuts {
    display: block;
    width: 20rem;
    margin: 0 auto 50px;
  }

  h1,
  h1 ~ p {
    color: var(--main-font);
    font-size: 1rem;
  }
}
