/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: Verdana, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  position: relative;
  --page-bg: rgb(18, 18, 18);
  --main-bg: rgb(30, 30, 30);
  --secondary-bg: rgb(60, 60, 60);
  --tertiary-bg: rgb(90, 90, 90);
  --delete-bg: rgb(255, 163, 140);
  --equal-bg: rgb(140, 255, 163);
  --border: rgb(80, 80, 80);
  --main-font: rgba(233, 233, 233, 0.9);
  --secondary-font: rgb(0, 0, 0);
}

.light-theme {
  --page-bg: rgb(240, 240, 240);
  --main-bg: rgb(225, 225, 225);
  --secondary-bg: rgb(210, 210, 210);
  --tertiary-bg: rgb(190, 190, 190);
  --delete-bg: rgb(186, 41, 8);
  --equal-bg: rgb(0, 99, 115);
  --border: rgb(0, 0, 0);
  --main-font: rgb(0, 0, 0);
  --secondary-font: rgba(233, 233, 233, 0.9);
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}

.calculator-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-bg);
  padding: 10px 0;
}

.display-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 95%;
  min-height: 110px;
  margin: 0 auto;
}

.equation,
#main-display {
  background-color: var(--main-bg);
  color: var(--main-font);
}

.equation {
  font-size: 1.5rem;
  opacity: 0.6;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-overflow: ellipsis;
}

#main-display {
  font-size: 2.5rem;
  padding: 5px 0 0;
}

.button-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5px 1fr 5px 1fr 5px 1fr;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 5px;
  width: 95%;
  height: 80%;
  margin: 20px auto 0;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: var(--secondary-bg);
  color: var(--main-font);
  border: 1px solid var(--border);
  border-radius: 10px;
  font-size: 1.7rem;
  font-weight: bold;
}

.btn:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.btn:active {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.operator,
.percentage,
.decimal,
.pos-neg,
.theme,
.history {
  background-color: var(--tertiary-bg);
}

.equal {
  -ms-grid-row: 5;
  -ms-grid-row-span: 2;
  grid-row: 5 / 7;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4 / 5;
  background-color: var(--equal-bg);
  color: var(--secondary-font);
}

.clear,
.backspace {
  background-color: var(--delete-bg);
  color: var(--secondary-font);
}

.theme {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}

.history {
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2 / 4;
  z-index: 2;
}

#history-container {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: var(--secondary-bg);
  border: var(--border);
  padding: 10px 0;
}

.history-list {
  width: 100vw;
  height: 79vh;
  border-bottom: 2px solid var(--border);
  overflow-y: auto;
}

.history-list > p {
  padding: 0 10px 25px;
  font-size: 1.5rem;
  color: var(--main-font);
}

.shortcuts {
  display: none;
}

footer {
  display: none;
}

@media only screen and (min-width: 450px) {
  body {
    background-color: var(--page-bg);
  }

  .page-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .calculator-container {
    width: 20rem;
    height: 30rem;
    margin: 50px auto 25px;
    border: 5px solid var(--border);
  }

  .display-container {
    width: 18.5rem;
  }

  .button-container {
    width: 18.5rem;
    margin: 20px auto 0;
    padding: 0;
  }

  #history-container {
    width: 19.5rem;
    height: 29.4rem;
    top: 55px;
  }

  .history-list {
    width: 100%;
    height: 24.5rem;
  }

  .shortcuts {
    display: block;
    width: 20rem;
    margin: 0 auto 50px;
  }

  h1,
  h1 ~ p {
    color: var(--main-font);
  }

  h1 {
    font-size: 1.5rem;
  }

  footer {
    display: block;
    width: 100%;
  }

  .footer > p {
    color: var(--main-font);
    font-size: 0.9rem;
    text-align: center;
  }

  .profile-icon,
  a {
    display: block;
    width: 100px;
    height: auto;
    margin: auto;
    transition: transform 0.1s;
  }

  .profile-icon:hover {
    transform: scale(1.1);
  }
}
